/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
  font-family: "Oswald", sans-serif !important;
  background: url("assets/wallpaper.jpg") fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
